---
layout: default
---
<div class="post-container">
    <div class="bio-container">
		<h2>I'm a passionate and experienced software developer </h2>

        Started programming with a ZX Spectrum, fell in love with computer science with a Sony VAIO VGX-TP1, moved my first steps moving random bytes using CheatEngine and poor man's C++ 

        <br /> <br />
        <i>I love the elegance of Ruby, the productivity of Javascript, the clearness of Elixir and the performances of Go.</i> <br />

        Currently, I spend most of the time writing Golang, Elixir and Javascript. <br /> <br />
        
        I work as a Senior Software Engineer @ SUSE in the <a href="https://trento-project.io">Trento Team</a> <br /> <br />

        Want to talk about something? Elixir? Go? Your next project? Pizza dough? 
        <h3> Drop me a message! <a href="mailto:carmine.dimonaco@gmail.com">carmine.dimonaco[at]gmail.com</a> </h3>

	</div>
	{% for post in paginator.posts %}
        <div class="post-list">
            <a class="post-title" href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
            <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | date: "%d.%m.%Y" }}</time>
        </div>
    {% endfor %}
</div>
{% include pagination.html %}
